.algorithm-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.labContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;;
  padding: 40px;
}